.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: var(--s-10);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--s-6);
  width: 100%;
  max-width: 360px;
}

.subtitle {
  margin: 0;
  color: var(--placeholder);
  font: var(--font-h4);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--s-4);
  width: 100%;
}

.linkGroup {
  display: inline-flex;
  gap: var(--s-1);
  justify-content: center;
  align-items: center;
  width: 100%;
}
