.button {
  display: inline-flex;
  gap: var(--s-2);
  justify-content: center;
  align-items: center;
  width: max-content;
  min-width: max-content;
  font: var(--font-h4);
  line-height: 20px;
  white-space: nowrap;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease,
    opacity 0.2s ease;
}

.primary {
  color: white;
  background-color: var(--primary);
}

.primary:hover {
  background-color: color-mix(in srgb, var(--primary), #fff 10%);
}

.primary:active {
  background-color: color-mix(in srgb, var(--primary), #fff 20%);
}

.primary:focus {
  box-shadow: var(--sh-focus);
}

.secondary {
  color: var(--primary);
  background-color: var(--secondary);
}

.secondary:hover {
  background-color: color-mix(in srgb, var(--secondary), #fff 50%);
}

.secondary:active {
  background-color: color-mix(in srgb, var(--secondary), #000 5%);
}

.secondary:focus {
  box-shadow: var(--sh-focus);
}

.outline {
  color: var(--foreground);
  background-color: #fff;
  border: 1px solid var(--br-input);
}

.outline:hover {
  background-color: var(--secondary);
}

.outline:active {
  background-color: color-mix(in srgb, var(--secondary), var(--primary) 5%);
}

.outline:focus {
  box-shadow: var(--sh-focus);
}

.destructive {
  color: #fef2f2;
  background-color: var(--destructive);
}

.destructive:hover {
  background-color: color-mix(in srgb, var(--destructive), #fff 10%);
}

.destructive:active {
  background-color: color-mix(in srgb, var(--destructive), #000 10%);
}

.destructive:focus {
  box-shadow: var(--sh-destructive-focus);
}

.s {
  height: var(--h-8);
  padding: 0 var(--s-3);
  font-size: 12px;
}

.m {
  height: var(--h-9);
  padding: 0 var(--s-4);
  font-size: 14px;
}

.l {
  height: var(--h-10);
  padding: 0 var(--s-8);
  font-size: 14px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.loading {
  cursor: wait;
  opacity: 0.5;
  pointer-events: none;
}

.loading::after {
  width: 1em;
  height: 1em;
  margin-left: 8px;
  border: 2px solid rgb(255 255 255 / 30%);
  border-top: 2px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  content: '';
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--w-4);
  height: var(--h-4);
  color: inherit;
}

.icon + .buttonText {
  margin-left: 0;
}

.iconOnly {
  aspect-ratio: 1;
  padding: 0;
}

.block {
  width: 100%;
}
