.button {
    display: inline-flex;
    align-items: center;
    font: var(--font-h3);
    line-height: 20px;
    border-radius: 8px;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease, opacity 0.2s ease;
    text-decoration: none;
    white-space: nowrap;
    width: max-content;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    outline: none;
}

.primary {
    background-color: var(--primary);
    color: white;
}
.primary:hover {
    background-color: color-mix(in srgb, var(--primary), #ffffff 10%);
}
.primary:active {
    background-color: color-mix(in srgb, var(--primary), #ffffff 20%);
}
.primary:focus {
    box-shadow: var(--sh-focus);
}

.secondary {
    background-color: var(--secondary);
    color: var(--primary);
}
.secondary:hover {
    background-color: color-mix(in srgb, var(--secondary), var(--primary) 2%);
}

.secondary:active {
    background-color: color-mix(in srgb, var(--secondary), var(--primary) 5%);
}
.secondary:focus {
    box-shadow: var(--sh-focus);
}

.outline {
    background-color: #ffffff;
    color: var(--foreground);
    border: 1px solid var(--br-input);
}
.outline:hover {
    background-color: var(--secondary);
}
.outline:active {
    background-color: color-mix(in srgb, var(--secondary), var(--primary) 5%);
}
.outline:focus {
    box-shadow: var(--sh-focus);
}

.destructive {
    background-color: var(--destructive);
    color: #FEF2F2;
    border-color: #dc3545;
}
.destructive:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
.destructive:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
    outline: none;
}

.sizeS {
    padding: 0 var(--s-3);
    font-size: 12px;
    height: var(--h-8);
}
.sizeM {
    padding: 0 var(--s-4);
    font-size: 14px;
    height: var(--h-9);
}
.sizeL {
    padding: 0 var(--s-8);
    font-size: 14px;
    height: var(--h-10);
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.loading {
    opacity: 0.5;
    cursor: wait;
    pointer-events: none;
}
.loading::after {
    content: '';
    margin-left: 8px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top: 2px solid white;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Иконка */
.icon {
    margin-right: 8px; /* Отступ от текста */
    display: inline-flex; /* Убедимся, что иконка ведет себя как инлайн-элемент */
    align-items: center; /* Центрируем иконку по вертикали */
    justify-content: center;
}
.icon + .buttonText { /* Отступ, если иконка и текст вместе */
    margin-left: 0; /* Убираем лишний margin, если уже есть */
}