<section class="{{styles.container}}">
    <h1>OBAMA</h1>
    <p>{{btnStyles}}</p>
    {{> Button text="Button Primary" styles=btnStyles variant="primary" size="s" }}
    {{> Button text="Button Secondary" styles=btnStyles variant="secondary" size="s" }}
    {{> Button text="Button Secondary" styles=btnStyles variant="outline" size="s" }}
    {{> Button text="Button Secondary" styles=btnStyles variant="destructive" size="s" }}

    {{> Button styles=btnStyles variant="primary" size="m" icon=alertIcon iconOnly=true }}
    {{> Button text="Button Primary" styles=btnStyles variant="primary" size="m" }}
    {{> Button text="Button Secondary" styles=btnStyles variant="secondary" size="m" }}
    {{> Button text="Button Secondary" styles=btnStyles variant="outline" size="m" }}
    {{> Button text="Button Secondary" styles=btnStyles variant="destructive" size="m" }}

    {{> Button text="Button Primary" styles=btnStyles variant="primary" size="l" }}
    {{> Button text="Button Secondary" styles=btnStyles variant="secondary" size="l" }}
    {{> Button text="Button Secondary" styles=btnStyles variant="outline" size="l" }}
    {{> Button text="Button Secondary" styles=btnStyles variant="destructive" size="l" }}


    {{!-- Простое текстовое поле --}}
    {{> Input label="Login" name="username" placeholder="Login"
    value=formData.username
    styles=inputStyles
    helpText='This is an input description.'
    required=true
    }}

    {{> Input label="Login" name="username" placeholder="Login"
    value=formData.username
    styles=inputStyles
    error='This is an input description.'
    }}

    {{> Input label="Login" name="username" placeholder="Login"
    value=formData.username
    styles=inputStyles
    helpText='This is an input description.'
    disabled=true
    }}
</section>