<form class="{{styles.form}}">
  <div class="{{styles.inputs}}">
    {{#each inputs}}
      {{> Input
            inputId=this.inputId
            name=this.name
            placeholder=this.placeholder
            label=this.label
            value=this.value
            helpText=this.helpText
            styles=../inputStyles
            type=this.type
      }}
    {{/each}}
  </div>

  {{> Button
        type="submit"
        text="Sign up"
        size="l"
        variant="primary"
        block=true
        styles=btnStyles
  }}
</form>
