.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  list-style: none;
  background-color: var(--secondary);
}

.placeholder {
  margin: 0;
  color: var(--placeholder);
  font: var(--font-h4);
}

.section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 0;
  background-color: var(--secondary);
}
