.form {
  display: flex;
  flex-direction: column;
  gap: var(--s-4);
  width: 100%;

  & > button {
    margin-top: var(--s-2);
  }
}

.inputs {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr;
  gap: var(--s-4) var(--s-6);
}
