<form class="{{styles.form}}">
  <div class="{{styles.inputs}}">
    {{#each changePasswordInputs}}
      {{> Input
            inputId=this.inputId
            name=this.name
            placeholder=this.placeholder
            label=this.label
            value=this.value
            helpText=this.helpText
            styles=../inputStyles
            type=this.type
      }}
    {{/each}}
  </div>

  {{> Button
        type="submit"
        text="Save"
        size="m"
        variant="primary"
        styles=btnStyles
        disabled=true
  }}
</form>
