.message {
  display: inline-flex;
  gap: var(--s-2);
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  max-width: 60%;
}

.card {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding: var(--s-4);
  padding-bottom: var(--s-2);
  color: var(--primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  border-radius: 16px;
  border-bottom-left-radius: 0;
}

.name {
  display: inline;
  align-self: flex-start;
  margin: 0;
  font: var(--font-h3);
}

.text {
  display: inline;
  align-self: flex-start;
  margin: 0;
  white-space: pre-line;
}

.self {
  flex-direction: row-reverse;
  align-self: flex-end;

  .avatar {
    display: none;
  }

  .card {
    color: #fff;
    background-color: var(--primary);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 16px;
  }
}

.time {
  display: inline;
  align-self: flex-end;
  font: var(--font-p);
}
